div {
    position: absolute;
}

* {
    margin: 0;
    padding: 0;
}

.hair1 {
    left: 180px;
    top: 35px;
    width: 40px;
    height: 130px;
    background-color: red;
    border-radius: 90% 100% 100% 100%;
    border-width: 7px 7px 0 0;
    border-color: black;
    border-style: groove;
    transform: rotate(-77deg);
}

.hair2 {
    left: 220px;
    top: 20px;
    width: 40px;
    height: 130px;
    background-color: red;
    border-radius: 90% 100% 100% 100%;
    border-width: 7px 7px 0 0;
    border-color: black;
    border-style: groove;
    transform: rotate(-50deg)
}

.tail1 {
    left: 45px;
    top: 200px;
    width: 150px;
    height: 78px;
    clip-path: polygon(0 65%, 90% 80%, 100% 100%, 5% 110%);
    background-color: #141313;
    transform: rotate(5deg);
}

.tail2 {
    left: 57px;
    top: 229px;
    width: 100px;
    height: 50px;
    clip-path: polygon(4% 40%, 13% 0, 100% 57%, 96% 83%);
    background-color: #141313;
    transform: rotate(13deg);
}

.tail3 {
    left: 65px;
    top: 255px;
    width: 90px;
    height: 20px;
    background-color: #141313;
    border-radius: 50%/100px 100px 0 0;
    transform: rotate(-50deg)
}

.body1 {
    left: 100px;
    top: 100px;
    width: 280px;
    height: 260px;
    background-color: red;
    border-radius: 43% 60% 50% 50% / 50% 60% 40% 40%;
    border-width: 7px;
    border-color: black;
    border-style: inset;
}

.chin {
    width: 240px;
    height: 111px;
    left: 132px;
    top: 278px;
    background-color: #ffcaca;
    border-radius: 100% 0 100% 0;
    clip-path: ellipse(49% 35%);
    transform: rotate(7deg);
}

.chinBorder {
    width: 112px;
    height: 30px;
    border-radius: 45% 32% 60% 55% / 25% 15% 39% 37%;
    left: 187px;
    top: 330px;
    border: groove 7px;
    border-color: transparent transparent black transparent;
    transform: rotate(-1deg);
}

.eye1 {
    left: 230px;
    top: 220px;
    width: 65px;
    height: 55px;
    -webkit-border-radius: 100px / 100px;
    border-radius: 100px / 100px;
    border-width: 3px;
    border-color: black;
    border-style: inset;
    background-color: #fdf7f7;;
}

.eye2 {
    left: 290px;
    top: 220px;
    width: 65px;
    height: 55px;
    -webkit-border-radius: 100px / 100px;
    border-radius: 100px / 100px;
    border-width: 3px;
    border-color: black;
    border-style: inset;
    background-color: #fdf7f7;
}

.eyeball1 {
    left: 258px;
    top: 240px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: #141313;
}

.eyedot1 {
    left: 270px;
    top: 243px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #ffffff;
}

.eyedot11 {
    left: 265px;
    top: 253px;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #ffffff;
}

.eyeball2 {
    left: 306px;
    top: 240px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: #141313;
}

.eyedot21 {
    left: 313px;
    top: 253px;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    background-color: #ffffff;
}

.eyedot2 {
    left: 318px;
    top: 243px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #fcfcfc;
}

.beakBorder1 {
    width: 138px;
    height: 153px;
    left: 236px;
    top: 222px;
    background: #000000;
    clip-path: polygon(38% 18%, 0 52%, 100% 51%);
    transform: rotate(4deg);
}

.beak1 {
    width: 130px;
    height: 140px;
    left: 240px;
    top: 228px;
    background: #eeea1b;
    clip-path: polygon(38% 17%, 0 52%, 100% 51%);
    transform: rotate(4deg);
}

.beakBorder2 {
    height: 191px;
    width: 109px;
    background: #000000;
    top: 202px;
    left: 238px;
    clip-path: polygon(49% 73%, 0 52%, 100% 51%);
    border-width: 3px;
    transform: rotate(4deg);
}

.beak2 {
    height: 180px;
    width: 100px;
    background: #dfdb0f;
    top: 209px;
    left: 243px;
    clip-path: polygon(49% 73%, 0 52%, 100% 51%);
    border-width: 3px;
    transform: rotate(4deg);
}

.eyebrow1 {
    height: 80px;
    width: 90px;
    background: black;
    transform: rotate(10deg);
    top: 155px;
    left: 210px;
    clip-path: polygon(0 65%, 100% 80%, 100% 100%, 5% 100%);
}

.eyebrow2 {
    height: 80px;
    width: 90px;
    background: black;
    transform: rotate(-17deg);
    top: 153px;
    left: 280px;
    clip-path: polygon(0 80%, 100% 65%, 100% 100%, 0% 100%);
}